<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: auto;
        height: 100hv;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
      }
      header {
        background-color: #0279b1;
        height: 5rem;
        width: 100%;
      }
      main {
        background-color: aliceblue !important;
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <header>
      <img
        src="https://pacecode.com.np/image/assets/logo_w.png"
        style="height: 3rem; width: 5rem; padding-left: 42%; padding-top: 2%"
      />
    </header>
    <main>
      <div style="padding: 1rem">
        <p style="margin: 0; line-height: 24pt; margin-top: 2rem">
          We would like to thank you for the inquiry. Our team will contact you
          shortly.<br />
          Also, We look forward to understanding your needs.
        </p>
      </div>
    </main>
    <footer>
      <div style="background-color: aliceblue">
        <div style="padding: 1rem">
          <div>Regards,</div>
          <div>Pace code Team</div>
          <div>Email: info@pacecode.com.np</div>
          <div>Tel: +977 9863025214</div>
          <div>Kathmandu Nepal</div>
        </div>
      </div>
      <div
        style="
          background-color: #0279b1;
          height: 5rem;
          width: 100%;
          color: white;
        "
      >
        <div style="text-align: center; padding-top: 1.9rem">
          &#169; 2022 Pace Code
        </div>
      </div>
    </footer>
  </body>
</html>
